02. CONV_UNI_SOAP_DOTNET_ESCOBAR/02. CLICON/WS_CONVUNI_SOAP_DOTNET_CLICON/WS_CONVUNI_SOAP_DOTNET_CLICON/Connected Services/ConvUniService/ConvUniServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ConvUniServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServiceConvUni/ConvUniServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServiceConvUni/ConvUniServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConvUniServices_CentigradoAFarenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:CentigradoAFarenheit" />
  </wsdl:message>
  <wsdl:message name="IConvUniServices_CentigradoAFarenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CentigradoAFarenheitResponse" />
  </wsdl:message>
  <wsdl:message name="IConvUniServices_CentigradoAKelvin_InputMessage">
    <wsdl:part name="parameters" element="tns:CentigradoAKelvin" />
  </wsdl:message>
  <wsdl:message name="IConvUniServices_CentigradoAKelvin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CentigradoAKelvinResponse" />
  </wsdl:message>
  <wsdl:portType name="IConvUniServices">
    <wsdl:operation name="CentigradoAFarenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/IConvUniServices/CentigradoAFarenheit" message="tns:IConvUniServices_CentigradoAFarenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConvUniServices/CentigradoAFarenheitResponse" message="tns:IConvUniServices_CentigradoAFarenheit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CentigradoAKelvin">
      <wsdl:input wsaw:Action="http://tempuri.org/IConvUniServices/CentigradoAKelvin" message="tns:IConvUniServices_CentigradoAKelvin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConvUniServices/CentigradoAKelvinResponse" message="tns:IConvUniServices_CentigradoAKelvin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConvUniServices" type="tns:IConvUniServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CentigradoAFarenheit">
      <soap:operation soapAction="http://tempuri.org/IConvUniServices/CentigradoAFarenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CentigradoAKelvin">
      <soap:operation soapAction="http://tempuri.org/IConvUniServices/CentigradoAKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConvUniServices">
    <wsdl:port name="BasicHttpBinding_IConvUniServices" binding="tns:BasicHttpBinding_IConvUniServices">
      <soap:address location="http://localhost/ServiceConvUni/ConvUniServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>