02. CONV_UNI_SOAP_DOTNET_ESCOBAR/02. CLICON/WS_CONVUNI_SOAP_DOTNET_CLICON/WS_CONVUNI_SOAP_DOTNET_CLICON/Connected Services/ConvUniService/ConvUniServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CentigradoAFarenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentigradoAFarenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentigradoAFarenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentigradoAKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentigradoAKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentigradoAKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>